/**  Importar Fuente ***/

@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Playfair+Display+SC');


/*** estableser el backgtponf **/

body {
     background-color: darkcyan;
}

.articulo {
     background-color: #6B6B6B;
}

.articulo-encabezado,
.articulo-pie,
.pie-principal
/** Fuentes **/

 {
    font-family: 'Playfair Display SC', serif;

}

.articulo-cuerpo
{
   font-family: 'Kaushan Script', cursive;

}

/** Propiedades alineacion texto **/

.articulo-encabezado{
   text-align: left;

}

.articulo-cuerpo{
  text-align: justify;

}

.articulo-pie {
 text-align: right;

}

.pie-principal{
text-align: center;

}

/** Modificando el Margin Padding **/

.articulo {
  /**
   margin-left: 50px;
   margin-top: 50px;
   margin-right:  50px;
   margin-bottom: 100px;
   **/

  margin: 10% 10% 10% 10%;
  padding: 5% 5% 5% 5%;

}

/** añadir  **/

body{
  background-image: url('/images/fuji.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}
