
.caja{

   height: 50px;
   text-aling: center;
   color:#fff;
    border: 2px solid black;

}

.caja1{

background-color: chocolate;

}

.caja2{

   background-color: green;

}

.caja3{

   background-color: blue;

}
